@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

.typing::after {
    content: '_';
    animation: blink-caret 0.7s infinite;
  }
  
  @keyframes blink-caret {
    50% { opacity: 0; }
  }

  .menu-custom {
    background-color: hsla(0, 0%, 0%, 0.5); /* Cor de fundo com transparência */
    border-radius: 120px; /* Bordas arredondadas */
    padding: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0); /* Sombra: deslocamento x, deslocamento y, desfoque, cor */
    margin-bottom: 10px;
  }

  .body-prompt-contato {
    font-family: 'Monaco', 'Courier New', monospace;
    margin: 0;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d2d2d;
  }
  
  .prompt-contato {
    background-color: black;
    border-radius: 5px;
    padding: 20px;
  }
  
  .prompt-text-contato {
    color: white;
    white-space: pre-wrap;
    line-height: 1;
  }
  
  .prompt-label-contato {
    color: #78d6ff;
  }

  .prompt-label-green-contato {
    color: #8ae234;
  }

  #qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #qrcode img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    padding: 20px;
  }

  .qr-code-message {
    position: absolute;
    bottom: 0px;
    right: 10px;
    font-size: 10px;
    color: red; 
  }
